{% extends "index.html" %}

{% block content %}

    <!-- Editable table -->
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{ name }}</h3>
        <div class="card-body">
            <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center">tc_info</th>
                        <th class="text-center">tc_recomendation</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in Teacher %}
                        <tr>
                            <td class="pt-3-half" contenteditable="true">{{row.tc_info}}</td>
                            <td class="pt-3-half" contenteditable="true">{{row.tc_recomendation}}</td>
                            <td>
                                <span class="table-delete" ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" >
                                    <a href="https://labwork22.herokuapp.com/editTeacher?tc_info={{ row.tc_info }}">Edit</a></button></span>
                            </td>
                            <td>
                                <span class="table-delete"><button type="button"
                                                                   class="btn btn-danger btn-rounded btn-sm my-0" >
                                    <a href="https://labwork22.herokuapp.com/delete/Teacher?tc_info={{ row.tc_info }}">Delete</a></button></span>
                            </td>
                        </tr>
                    {% endfor %}

                    <!-- This is our clonable table line -->

                    </tbody>
                </table>
            <span class="table-delete"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" allign="center">
                                    <a href="https://labwork22.herokuapp.com/createTeacher">Create</a></button></span>
            </div>
        </div>
    </div>
    <!-- Editable table -->
{% endblock %}